
<div class="container">
<form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
    <div class="form-group">

       
            <div class="form-group">
            <label>Title</label>
             <input class="form-control" type="text" formControlName="title"/>
             <div class="text-danger" *ngIf="isSubmitted && formControls.title.errors?.required">This field is required.</div>
        </div>
          
      
   
            
        <div class="form-group">
            <label>Artircle:</label>
            <textarea class="form-control" type="text" formControlName="description"></textarea>
        
            <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This field is required.</div>
        </div>


        <div class="form-group">
            <label>Date:</label>
            <br>
            <input class="form-control" type="date"   formControlName="date">
            <div class="text-danger" *ngIf="isSubmitted && formControls.date.errors?.required">This field is required.</div>
            </div>
          

       <div class="form-group">
        <label>Venue:</label>
        <input class="form-control" type="text" formControlName="venue"/>
        <div class="text-danger" *ngIf="isSubmitted && formControls.venue.errors?.required">This field is required.</div>
    </div>
        

    <div class="form-group">
        <label>Contact Details:</label>
        <input class="form-control" type="text" formControlName="contact"/>
        <div class="text-danger" *ngIf="isSubmitted && formControls.contact.errors?.required">This field is required.</div>
    </div>
        
       
    <img [src]="imgSrc" width="350px" height="250px" height="250px" (click)="fileUploader.click()">
        <div class="form-group">
        <label for="formFile" class="form-label">Image Upload</label>
        <input type="file" accept="image/*"class="form-control" #fileUploader formControlName="imageUrl" (change)="showPreview($event)">
        <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.</div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
            </div>





