.sidenav-container {
  height: 100vh;
}
.sidenav {
  width: 220px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;

}
.mat-toolbar {
  height: 50px;
  font-size:16px;
}
mat-sidenav{
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-bottom-right-radius: 180px 750px; */
  background-image: radial-gradient(
    farthest-corner at 5px -20%,
    #333333 75%,
    #ffffff 20%
  );
}

@media screen and (max-width:600px) {
  mat-sidenav{
    width: 60%;
    height: 100%;
  }
  .section05{
    margin-top: 10%;
  }
  .logo{
    padding-top: 60%;
    width: 60px;
  }
  img {
    width: 100%;
    }

    .description, p{
      margin: 0;
      width: 100%;
    }

  mat-sidenav{
    background-image: radial-gradient(
    farthest-corner at 5px -20%,
    #333333 75%,
    #ffffff 20%
  );
  }
}

@media (max-width: 800px) {

  .example-section {
    flex-direction: row;
    align-items: initial
  }

  .button01 {
    margin-top: -20rem !important;
    width: 120px;
    height: 40px !important;
    display: none;
    overflow: auto;
  }
}












@media screen and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3){
  mat-sidenav{
    width: 55%;
    height: 100%;
  }
  .section05{
    margin-top: 50%;
  }
  .logo{
    padding-top: 82%;
    width: 50px;
  }
  mat-sidenav{
    background-image: radial-gradient(
    farthest-corner at 5px -20%,
    #333333 75%,
    #ffffff 20%
  );
  }
}

@media screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1){
  mat-sidenav{
    width: 35%;
    height: 100%;
  }
  .section05{
    margin-top: 80%;
  }
  .logo{
    padding-top: 35em;
    width: 50px;
  }



  
    .button01 {
      margin-top: -0.5em;
      margin-bottom: -200rem;
      margin-right: -1.5rem  !important;
      /* margin-bottom: -100rem; */
      width: 120px;
      height: 270px;
  
    }



  mat-sidenav{
    background-image: radial-gradient(
    farthest-corner at 5px -20%,
    #333333 75%,
    #ffffff 20%
  );
  }
}

.example-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #555;

}

mat-drawer-content{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: #f1f1f1;
}
.rounded{
  padding-top: 20px;
  width: 120px;
}
.logo{
  width: 100px;
  margin-top: -30px;
  margin-left: 50%;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius:10px
}
.btn02{
  border-radius: 25px;
  width: 160px;
  height: 30px;
  margin-left: 3%;
 background-color:#333333;
  color: #bc9a2f;
  border: 2px solid #bc9a2f;
  margin-bottom: 10px;
}

.btn02:hover{
  background-color:#bc9a2f;
  color: #f1f1f1;
}
.btn02:active{
  background-color:#bc9a2f;
  color: #f1f1f1;
}
.section02{
  display: block;
  justify-content: left;
  margin-top: 2.3em;
  margin-right: 4em;

}

.btn1{
  width: 70px;
  height: 65px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #f1f1f1;

}

.section03{
  margin-top: 20%;
  margin-right: 80%;
  margin-bottom: 0px;
  color: #f1f1f1;
}
.section04{
  margin-top: -20em;
}

.line01{
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border: none;
  margin-left: 30%;
  margin-right: 40%;
  width: 5em;
}
svg{
  color: white;
  margin-top: -20px;
}
.text01{
  margin-top: 25px;
  margin-bottom: 2px;
  line-height: 80%;
}
.line02{
  margin: 0.5em 0;
  width: 90%;
  height: 1px;
  border: none;
}

.navbar-brand{
  color: black;
}
.btn{
  width: 7%;
  height: 3rem;
  background-color: black !important;
  border-radius: 10px !important;
}
.form-control{
  width: 35%;
  height: 3rem;
  justify-content: end;
  margin-left: 50%;
  border-radius: 10px  !important;
}
.form-check-input{
  margin: 0 20px !important;
  width: 20px  !important;
  height: 20px  !important;
}
.section04{
  margin-top: 0.5%;

}
.section03{
  margin-top: 20%;
  margin-right: 80%;
  margin-bottom: 0px;
  color: #f1f1f1;
}

.section05{
  margin-top: 18%;
}
svg{
  color: white;
  margin-top: -20px;
}

.text03{
  text-align: justify;
  margin-left: 30px;
}

.mat-tab-group {
  margin-bottom: 48px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 40px;
}

mat-card {
  /* height: 70% !important;
  position: relative; */
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: block;
  overflow: hidden;

}
.section{
  margin-top: -1.5%;
  margin-left: -20px;
}
.button01{
  width: 100px;
  height: 225px;
  margin-right: -1.5%;
  color: #f1f1f1;
  background-color: #bc9a2f;
  border: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
.tender-section{
  margin: 6% 4%;
  border:none ; border-radius: 15px;
  box-shadow: rgb(237, 237, 238) 3px 3px 6px 6px inset, rgb(255, 255, 255) -3px -3px 6px 6px inset;
  background-color: #ffffff;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;

}
.vacancy-section{
  margin: 6% 4%;
  border:none ; border-radius: 15px;
  box-shadow: rgb(237, 237, 238) 3px 3px 6px 6px inset, rgb(255, 255, 255) -3px -3px 6px 6px inset;
  background-color: #ffffff;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;

}
.example-section01{
  margin-bottom: 1.5em;
}

.section-text{
  align-items: flex-end;
  margin-left: 75%;
  margin-top: -2.3em;
  padding-bottom: 4em;

}
.vertical {
  border-left: 2px solid rgb(175, 174, 174);
  height: 35px;
  margin-left:4em;
  margin-top: -2.7em;
}
.mat-tab-label {
  font-size: 20px;

}
.mat-tab-label:active {
  font-size: 25px;
  font-weight: 600;
}
/* .form-select-lg:current {
  color: #FF00CC !important;
  border-radius: none;
} */
/* .form-select-lg:hover {
  color: #FF00CC !important;
} */
.form-select-lg
{
  border-radius: 10px !important;
  width: 400px !important;
  text-align: center;
}


/* to activate buttons on the side navbar */
.active{
  background-color: #bc9a2f;
  color: #f1f1f1;

}
.icons01{
  filter:  brightness(0) invert(1);
}

.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  font-size: 20px;
  background-color: transparent;
  color: black;
  font-weight: 500;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #bc9a2f;
  font-weight: 700;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #bc9a2f;
}
.form-check-input:checked {
  background-color: #bc9a2f !important;
  border-color: #bc9a2f !important;
}
option {
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 15px;
}

option:focus {
  background-color: #bc9a2f;
  border-radius: 5px;
  font-size: 15px;
}

.form-select-lg:hover{
  background-color: #bc9a2f !important;
}
select option:focus{
  background-color: #bc9a2f !important
}
select option:hover{
  background-color: #bc9a2f !important
}

select option:active{
  background-color: #bc9a2f !important
}

select option:link{
  background-color: #bc9a2f !important
}
select option:visited{
  background-color: #bc9a2f !important
}
select option:focus{
  background-color: #bc9a2f !important
}








