body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 650px; */
    border-bottom-right-radius: 150px 750px;
    background-image: radial-gradient(
      farthest-corner at 60px -100%,
      #333333 85%,
      #333333 20%
    );
  }
  .text-center {
    display: flex;
    justify-content: center;
    padding-top: 2%;
  
  }
  .form-check-label{
    font-weight: 300;
  }
  .form-center{
    margin-top: 4.5em;
  
  }
  .section04{
    margin-top: 3.8%;
    text-align: center;
    color: #f1f1f1;
  }
  
  .btn{
    border-radius: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    font-weight: 400;
  
  }
  #btnsubscribe{
    border-radius: 25px;
    width: 300px;
    margin-top: 60px;
    margin-left: 37%;
    background-color: #bc9a2f;
    color: #f1f1f1;
  }
  hr{
    margin-top: 3rem;
    margin-bottom: 0.2rem;
    border: 0;
    width: 45%;
    border-top: 2.5px solid rgb(126, 122, 122);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28%;
    margin-right: 28%;
  }
  .form-group{
    color: #f1f1f1;
  
     width:30%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    /* margin-left: 35%; */
  
  }
  
  .form-group h1{
    text-align: center;
  }
  .form-control{
  
    font-weight: 300;
    border-radius: 10px;
  }
  
  .rounded{
    width: 150px;
    margin-top: -3.1em;
    margin-left: -1.5em;
  
  }
  .form-check-input:checked {
    background-color: #bc9a2f;
    border-color: #bc9a2f;
  }
  @media screen and (max-width: 600px) {
  
    .rounded01{
      width: 150px;
      height: 150px;
      padding-top: 5px;
    }
  
    .section04{
      margin-left: 0.2em;
    }
    .text01{
      /* margin-left: 17em; */
      text-align: left;
    }
    .rounded{
      margin-top: 1.5em;
      justify-content: center;
      display: flex;
      align-items: center;
       margin-left: 2.5em;
    }
    /* email field */
    .form-group{
      width:70%;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 30px;
  
    }
  
    .btn{
      border-radius: 25px;
      width: 70%;
      display: flex;
      justify-content: center;
      color: black;
      text-align: center;
      font-weight: 400;
  
    }
  
  
  }
  
  h4:hover{
   text-decoration: underline;
  }
  .forgotPassword:hover{
    text-decoration: underline;
    color: #bc9a2f;
  }
  
  .h1{
    text-align: center;
    margin: 0px auto;
    display: block;
  }


   /* # Phone */
   @media screen and (max-width:640px) {
    #btnsubscribe{
      border-radius: 25px;
      width: 200px;
      margin-top: 20px;
      margin-left: 17%;
      float: center;
      text-align: center !important;
      background-color: #bc9a2f;
      color: #f1f1f1;
    }


    @media only screen and (max-width: 767px) {
      
  }


}