 <br>
 <section class="vacancy-section">

                    <mat-card >
                      <div class="col-sm-10">

                        <div class="row">
                          <div class="col-1 col-sm-10">
                            <mat-card-title class="text-break">{{vacancy?.title}}</mat-card-title>
                            <mat-card-subtitle>Ref No. : BID NO:SM02</mat-card-subtitle>
                            <mat-card-content>
                              <div class="row">
                                <div class="col-sm-6">

                                  <div class="row">
                                    <div class="col-5 col-sm-2" style="color: green;">
                                      Date<br> Opened
                                      <div class="vertical"></div>
                                    </div>

                                    <div class="col-5 col-sm-3">
                                        {{vacancy?.DateOpenend | date: 'dd-MM-yy'}}
                                    </div>
                                    <div class="col-5 col-sm-2" style="color: red;">
                                      Closing<br> Date
                                      <div class="vertical"></div>
                                    </div>

                                    <div class="col-5 col-sm-3">
                                        {{vacancy?.DateClosed  | date: 'dd-MM-yy'}}
                                    </div>

                                  </div>

                                </div>

                              </div>
                              <div class="section-text" align="end">
                                <div class="" style="color: green;">
                                 open
                                </div>
                              </div>

                            </mat-card-content>
                          </div>
                        </div>
                      </div>
                      <div class="section" align="end">

                        <button id="" class="button01">
                          <i class="fa fa-angle-right fa-3x"></i>
                          
                        </button>
                      </div>
                    </mat-card>
                  </section> 



    

